# --- Zabbix Agent 2 config (template) ---

PidFile=/run/zabbix/zabbix_agent2.pid
LogFile=/var/log/zabbix/zabbix_agent2.log
LogFileSize=3
# DebugLevel=3

# --- Conectividad con Server/Proxy ---
Server=3.89.172.224,127.0.0.1
ServerActive=10.181.5.210

# --- Identidad del host ---
Hostname={{ ansible_hostname }}

# --- Includes por defecto ---
Include=/etc/zabbix/zabbix_agent2.d/*.conf
# Include configuration files for plugins
Include=/etc/zabbix/zabbix_agent2.d/plugins.d/*.conf

# --- Sockets internos (defaults válidos) ---
PluginSocket=/run/zabbix/agent.plugin.sock
ControlSocket=/run/zabbix/agent.sock

{% raw %}
# --- TLS/PSK (OPCIONAL) ---
# Actívalo solo si tu server/proxy lo exige.
# TLSConnect=psk
# TLSAccept=psk
# TLSPSKIdentity={{ zbx_psk_identity }}
# TLSPSKFile=/etc/zabbix/keys/agent2.psk
# TLSCAFile=/etc/ssl/certs/ca-bundle.crt
# TLSCertFile=/etc/zabbix/keys/agent2.crt
# TLSKeyFile=/etc/zabbix/keys/agent2.key
{% endraw %}

